
main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 130px;
    font-size: 50px;
    color: #FFFFFF;
}

.SubTitle {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 30px;
}

.Image {
    margin: 50px 10px 0px 10px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
    max-height: 620px;
    justify-content: center;
    align-items: center;
}

