
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden
}

.title {
    margin: 120px 0px 10px 0px ;
    font-size: 50px;
    color: #FFFFFF;
}

.SubTitle {
    color: #FFFFFF;
    margin-top: 0px;
    font-size: 30px;
}

.ImgCont {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ImgLink {
    overflow: hidden;
    display: flex;
    margin: 0px 10px 0px 10px;
}

.Image {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 500px;
}

