<!DOCTYPE html>
<html lang="ru" xmlns:padding-top="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Грибы</title>
  <!--Для корректного отображения в старых браузерах-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Отображаем страницу в масштабе 100%-->
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!--Нормализуем стили https://cdnjs.com/libraries/normalize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <!--Прикрепляем CSS файл к html файлу-->
  <link rel="stylesheet" href="../../index.css">
  <link rel="stylesheet" href="index.css">
  <!--Добавление favicon (картинка на вкладке)-->
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/favicon/mushroomFavicon.ico">
  <!--стили с сайта https://fonts.google.com-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grandstander&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://livejs.com/live.js"></script>

</head>
<body>
<header>
  <div class='HeaderTop' style='background-color: rgba(99, 6, 156, 0.4)'>

    <div class='HeadTopCont'>
      <a href='https://t.me/MushroomGRlB' class='HeaderLogo'>
        <img src='../../assets/logo.jpg' height='55' alt='logo'></a>
      <div class='HeaderMenu'>
        <div class='MenuIcon'>
          <span></span>
        </div>
        <nav class='MenuBody'>
          <!--В этой строчке мы убрали точки рядом с ссылками-->
          <ul class='MenuList' style="list-style:none">
            <li><a href='../7contactsPage/index.html' class='MenuLink'>Контакты</a>
              <span class='MenuArrow'></span>
              <ul class='MenuSubList' style="list-style:none">
                <li>
                  <a href='https://github.com/MushroomGRIB' class='MenuSubLink'>GitHub</a>
                </li>
                <li>
                  <a href='https://t.me/MushroomGRlB' class='MenuSubLink'>Telegram</a>
                </li>
              </ul>
            <li><a href='../1GallerySwapOnKlickButtonsJS/index.html' class='MenuLink'>Entoloma Hochstetteri</a></li>
            <li><a href='../2GallerySwapOnKlickImgJS/index.html' class='MenuLink'>Chlorophos Mycena</a></li>
            <li><a href='../3OptTaskGameJS/index.html' class='MenuLink'>Mushroom Hunter</a></li>
            <li><a href='../4Any/index.html' class='MenuLink'>Laccaria Amethystina</a></li>
            <li><a href='../5OptTaskAnimJS/index.html' class='MenuLink'>Walking Mushroom</a></li>
            <li><a href='index.html' class='MenuLink'>Rhodotus Palmatus</a></li>

          </ul>
        </nav>
      </div>
      <a href='../home/index.html' class='HeaderHome'>
        <img src='../../assets/home.png' height='50px' alt='home'></a>
    </div>
  </div>
</header>
<main>
  <h1 class='TitleArticlePage'>Rhodotus Palmatus</h1>

  <div class='TitleCont'>
    <div class='TableOfContents'>
      Содержание
      <a data-goto='.page__section_1' href='#' class='TableOfContentsLink'>Раздел 1</a>
      <a data-goto='.page__section_2' href='#' class='TableOfContentsLink'>Раздел 2</a>
      <a data-goto='.page__section_3' href='#' class='TableOfContentsLink'>Раздел 3</a>
      <a data-goto='.page__section_4' href='#' class='TableOfContentsLink'>Раздел 4</a>
    </div>
    <a href='assets/RhodotusPalmatus1.jpg'><img src='assets/RhodotusPalmatus1.jpg' alt='MushroomIMG'>
    </a>
  </div>

  <section class='page__section page__section_1'>
    <h2>Раздел 1</h2>
  <div class='ImgCenterCont'>
    <a href='assets/RhodotusPalmatus2.jpg'><img class='ImgCenter' src='assets/RhodotusPalmatus2.jpg'  alt='MushroomIMG'>
    </a></div>
  <article>
    <p class='columns'>Но сделанные на базе интернет-аналитики выводы,
      вне зависимости от их уровня, должны быть в равной степени предоставлены сами себе.
      Мы вынуждены отталкиваться от того, что курс на социально-ориентированный национальный
      проект способствует подготовке и реализации анализа существующих паттернов поведения.
      Сложно сказать, почему действия представителей оппозиции набирают популярность среди
      определенных слоев населения, а значит, должны быть ограничены исключительно образом
      мышления. В рамках спецификации современных стандартов, некоторые особенности внутренней
      политики формируют глобальную экономическую сеть и при этом — призваны к ответу. Как уже
      неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,
      новая модель организационной деятельности способствует повышению качества позиций, занимаемых участниками
    неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,


    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>

    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>
  </article>
</section>
  <section class='page__section page__section_2'>
  <h2>Раздел 2</h2>
    <div class='ImgCenterCont'>
  <a href='assets/RhodotusPalmatus3.jpg'><img class='ImgCenter' src='assets/RhodotusPalmatus3.jpg' alt='MushroomIMG'>
  </a></div>
    <article>
    <p class='columns'>Но сделанные на базе интернет-аналитики выводы,
      вне зависимости от их уровня, должны быть в равной степени предоставлены сами себе.
      Мы вынуждены отталкиваться от того, что курс на социально-ориентированный национальный
      проект способствует подготовке и реализации анализа существующих паттернов поведения.
      Сложно сказать, почему действия представителей оппозиции набирают популярность среди
      определенных слоев населения, а значит, должны быть ограничены исключительно образом
      мышления. В рамках спецификации современных стандартов, некоторые особенности внутренней
      политики формируют глобальную экономическую сеть и при этом — призваны к ответу. Как уже
      неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,
      новая модель организационной деятельности способствует повышению качества позиций, занимаемых участниками
    неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,


    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>

    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>
  </article>
  </section>
  <section class='page__section page__section_3'>
  <h2>Раздел 3</h2>
    <div class='ImgCenterCont'>
  <a href='assets/RhodotusPalmatus4.jpg'><img class='ImgCenter' src='assets/RhodotusPalmatus4.jpg' alt='MushroomIMG'>
  </a></div>
    <article>
    <p class='columns'>Но сделанные на базе интернет-аналитики выводы,
      вне зависимости от их уровня, должны быть в равной степени предоставлены сами себе.
      Мы вынуждены отталкиваться от того, что курс на социально-ориентированный национальный
      проект способствует подготовке и реализации анализа существующих паттернов поведения.
      Сложно сказать, почему действия представителей оппозиции набирают популярность среди
      определенных слоев населения, а значит, должны быть ограничены исключительно образом
      мышления. В рамках спецификации современных стандартов, некоторые особенности внутренней
      политики формируют глобальную экономическую сеть и при этом — призваны к ответу. Как уже
      неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,
      новая модель организационной деятельности способствует повышению качества позиций, занимаемых участниками
    неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,


    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>

    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>
  </article>
  </section>
  <section class='page__section page__section_4'>
  <h2>Раздел 4</h2>
    <div class='ImgCenterCont'>
  <a href='assets/RhodotusPalmatus5.jpg'><img class='ImgCenter' src='assets/RhodotusPalmatus5.jpg' alt='MushroomIMG'>
  </a></div>
    <article>
    <p class='columns'>Но сделанные на базе интернет-аналитики выводы,
      вне зависимости от их уровня, должны быть в равной степени предоставлены сами себе.
      Мы вынуждены отталкиваться от того, что курс на социально-ориентированный национальный
      проект способствует подготовке и реализации анализа существующих паттернов поведения.
      Сложно сказать, почему действия представителей оппозиции набирают популярность среди
      определенных слоев населения, а значит, должны быть ограничены исключительно образом
      мышления. В рамках спецификации современных стандартов, некоторые особенности внутренней
      политики формируют глобальную экономическую сеть и при этом — призваны к ответу. Как уже
      неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,
      новая модель организационной деятельности способствует повышению качества позиций, занимаемых участниками
    неоднократно упомянуто, диаграммы связей неоднозначны и будут разоблачены. Идейные соображенияБезусловно,


    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>

    <p class='columns'>
      высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной
      степени обусловливает важность приоретизации разума над эмоциями. Как уже неоднократно упомянуто,
      интерактивные прототипы обнародованы. Кстати, элементы политического процесса и по сей день остаются
      уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Имеется спорная точка
      зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы указаны как претенденты
      на роль ключевых факторов. Но базовый вектор развития напрямую зависит от своевременного выполнения сверхзадачи.
      Не следует, однако, забывать, что понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения
      и модернизации распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они
      забывают,
      что синтетическое тестирование в значительной степени обусловливает важность прогресса профессионального
      сообщества.</p>
  </article>
  </section>
</main>
<footer>
  <div class="footer-column">
    first col
  </div>
  <div class="footer-column">

    <div class="social github">
      <a href="https://github.com/MushroomGRIB" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </div>
    <div class="social telegram">
      <a href="https://t.me/MushroomGRlB" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
    </div>
    Контакты
  </div>
  <div class="footer-column">
    three col
  </div>
</footer>
<!--Прикрепляем JS файл к html файлу-->
<script src='../../index.js'></script>
<script src='index.js'></script>
</body>
</html>