html {
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.Title {
    margin-top: 130px;
    font-size: 50px;
    color: #FFFFFF;
}

.Image {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 500px;
}

.ImgCont {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ImgLink {
    overflow: hidden;
    display: flex;
    margin: 0px 10px 0px 10px;
}

.buttonsImg {
    border-radius: 20px;

    margin: 0px 100px 0px 100px;
    height: 70px;
    width: 365px;
    font-size: 30px;
    border: 3px solid #ccc;
    font-weight: bold;
}

.buttonsImg:hover {
    background: green;
    color: #fff;
}

.ButtonsCont {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (max-width: 719px) {
    .buttonsImg {
        margin: 0px 35px 0px 35px;
    }

}

@media (max-width: 539px) {

    .buttonsImg {
        height: 50px;
        width: 200px;
        font-size: 20px;
    }
}

